.table{
    width: 450px;
    height: 525px;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.gray{
    background-color: #cccccc;
    font-style: italic;
    text-align: center;
    height: 50px;
}
.red{
    background-color: red;
}
.baige{
    background-color: #ffff88;
}
.magenta{
    background-color: #ffff88;
}
.scroll{
    overflow: visible;
    overflow-x: scroll;
    height: 150px;
    width: 150px;
    text-align: justify;
}
.center{
    text-align: center;
}
